.Home {
  height: 90%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.Home .container {
  padding-right: 0px;
  padding-left: 0px;
}

.Home .lander {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100%;
  padding: 120px 0;
  text-align: center;
}

.Home .lander .new {
  padding: 50px 0;
  text-align: center;
}

.Home .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.Home .lander p {
  color: #999;
}

.Home .lander .todoform {
  padding: 30px 0;
  font-size: large;
  text-align: center;
}

.Home .clock {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 9rem;
  color: white;
}

.Home .lander .mission {
  padding-top: 40px;
}

.Home .lander .mission .list-group-item {
  border: 0px;
}

.Home .lander .mission .list-group-item .list-group-item-heading {
  font-size: 4rem;
}
